@import url("shared.css");

html { 
	-ms-content-zooming: none;
}
body { margin: 0px; border: 0px; background-color:#FAFAFA; scroll:no; overflow: hidden; width: 100%; height: 100%;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-ms-touch-action: none;
	touch-action: none;
 	user-select: none; 
	transition: background-color 1s;
	scroll: no;
	font-size: 19px;
	font-family: thin;
}
p { padding: 0px; margin: 0px; }
.slide { 
	width: 100%; 
	height: 100%; 
	opacity: 0; 
	transition: opacity 1s, 
	background 1s; display: none; 
	overflow: hidden; 
}
.drawElement { position: absolute; }
.clipartElement { position: absolute; -moz-user-select: none; pointer-events: none; }
.imageElement { position: absolute;-moz-user-select: none;  }
.svgElement { position: absolute;-moz-user-select: none;  }
.shapeElement { position: absolute; }
.renderingPath { stroke-width: 0; pointer-events: painted;}
.textElement { position: absolute; cursor: default; }
.textElementInner { text-align: inherit; height: auto; vertical-align: middle; margin: auto; }
.drawPath { fill: none; }
